name: publish

on:
  push:
  release:
    types: [ published ]

permissions:
  contents: write
  pull-requests: write

env:
  FFMPEG_VERSION: 5.1.5 # This needs to be updated to match the FFmpeg version being compiled.
  DECODERS: "h264,vp8"

jobs:
  prepare:
    runs-on: ubuntu-latest

    outputs:
      version_number: ${{ steps.set_version_number.outputs.version_number }}
      version_suffix: ${{ steps.set_version_suffix.outputs.version_suffix }}
      full_version: ${{ steps.set_version_number.outputs.version_number }}${{ steps.set_version_suffix.outputs.version_suffix != '' && '-' || '' }}${{ steps.set_version_suffix.outputs.version_suffix }}

    steps:
      - name: Set version number
        id: set_version_number
        shell: bash
        run: echo "version_number=${{ env.FFMPEG_VERSION }}" >> $GITHUB_OUTPUT

      - name: Set version suffix
        if: github.event.action != 'published'
        id: set_version_suffix
        shell: bash
        run: echo "version_suffix=preview.${{ github.run_number }}" >> $GITHUB_OUTPUT

  build-native:
    name: build (${{ matrix.platform.name }})
    runs-on: ${{ matrix.platform.runner }}

    strategy:
      matrix:
        platform:
          # - { name: win-x64,   runner: ubuntu-latest, arch: x86_64, target-os: mingw32, cross-prefix: x86_64-w64-mingw32- }
          - { name: linux-x64, runner: ubuntu-latest, arch: x86_64 }
      fail-fast: false
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: FFmpeg/FFmpeg
          ref: n${{ env.FFMPEG_VERSION }}

      - name: Install common dependencies
        shell: bash
        run: |
          sudo apt-get update -qq
          sudo apt-get -y install \
            autoconf automake build-essential cmake git-core libass-dev \
            libfreetype6-dev libgnutls28-dev libmp3lame-dev libsdl2-dev \
            libtool libva-dev libvdpau-dev libvorbis-dev libxcb1-dev \
            libxcb-shm0-dev libxcb-xfixes0-dev meson ninja-build pkg-config \
            texinfo wget yasm zlib1g-dev
          sudo apt-get -y install \
            libunistring-dev libaom-dev libdav1d-dev

      - name: Install custom dependencies
        shell: bash
        run: |
          sudo apt-get -y install \
            libx264-dev libx265-dev libnuma-dev libvpx-dev
      
      - name: Output pkg-config
        shell: bash
        run: |
          pkg-config --list-all

      - name: Configure FFmpeg (Linux)
        if: matrix.platform.name == 'linux-x64'
        shell: bash
        env:
          LDFLAGS: "-static-libgcc -static-libstdc++"
        run: |
          ./configure \
            --arch=${{ matrix.platform.arch }} \
            --disable-everything \
            --disable-programs \
            --disable-doc \
            --disable-avdevice \
            --disable-avformat \
            --disable-swresample \
            --disable-swscale \
            --disable-postproc \
            --disable-network \
            --disable-debug \
            --enable-avcodec \
            --enable-avutil \
            --enable-gpl \
            --enable-libx264 \
            --enable-libvpx \
            --enable-shared \
            --enable-decoder="${{ env.DECODERS }}" \
            --enable-cross-compile \
            --prefix=$GITHUB_WORKSPACE/out

      - name: Build FFmpeg
        shell: bash
        run: make -j$(nproc)

      - name: Install FFmpeg
        shell: bash
        run: make install

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "native-${{ matrix.platform.name }}"
          path: "out/"