name: publish

on:
  push:
    # branches:
    #   - main
  # release:
  #   types: [ published ]

permissions:
  contents: write
  pull-requests: write

env:
  FFMPEG_VERSION: 5.1 # This needs to be updated to match the FFmpeg version being compiled.
  DECODERS: "h264,vp8"

jobs:
  build-ffmpeg:
    name: build (${{ matrix.platform.name }})
    runs-on: ${{ matrix.platform.runner }}

    strategy:
      matrix:
        platform:
          - { name: win-x64,   runner: ubuntu-latest, arch: x86_64, target-os: mingw32, cross-prefix: x86_64-w64-mingw32- }
          # - { name: linux-x64, runner: ubuntu-latest, arch: x86_64, target-os: linux }
      fail-fast: false
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: FFmpeg/FFmpeg
          ref: n${{ env.FFMPEG_VERSION }}

      - name: Install dependencies (Linux)
        if: matrix.platform.name == 'linux-x64'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            yasm build-essential clang llvm make automake \
            autoconf pkg-config libtool-bin nasm

      - name: Install dependencies (Windows)
        if: matrix.platform.name == 'win-x64'
        run: |
          sudo apt-get update
          sudo apt-get install -y mingw-w64 pkg-config nasm yasm libx264-dev \
            make automake autoconf libtool

      - name: Export versions
        shell: bash
        run: |
          echo "GCC ==========================="
          which gcc
          gcc -v || true
          gcc -m64 || true
          echo "NASM =========================="
          which nasm
          nasm -v
          echo "YASM =========================="
          which yasm
          yasm --version
          echo "LD ============================"
          which ld
          ld --version
          echo "AS ============================"
          which as
          as --version
          echo "CLANG ========================="
          which clang
          clang --version
          echo "UNAME ========================="
          uname -a
          echo "MAKE =========================="
          which make
          make --version
          echo "PKG-CONFIG ===================="
          which pkg-config
          pkg-config --version

      - name: Echo environment variables
        shell: bash
        run: |
          echo $CFLAGS
          echo $CPPFLAGS
          echo $LDFLAGS

      - name: Configure FFmpeg for Windows
        env:
          PATH: /mingw64/bin:$PATH  # Ensure MinGW nasm is prioritized
        run: |
          ./configure \
            --prefix="$GITHUB_WORKSPACE/out" \
            --target-os=mingw32 \
            --arch=x86_64 \
            --cross-prefix=x86_64-w64-mingw32- \
            --enable-cross-compile \
            --disable-static \
            --enable-shared \
            --disable-debug \
            --disable-doc \
            --disable-programs \
            --enable-avcodec \
            --enable-decoder=h264,vp8 \
            --disable-everything \
            --enable-stripping

      # - name: Configure FFmpeg for Linux
      #   if: matrix.platform.name == 'linux-x64'
      #   env:
      #     LDFLAGS: "-static-libgcc -static-libstdc++"
      #   run: 
      #     ./configure \
      #       --arch=${{ matrix.platform.arch }} \
      #       --disable-everything \
      #       --disable-static \
      #       --disable-doc \
      #       --disable-programs \
      #       --disable-swscale \
      #       --disable-avformat \
      #       --disable-swresample \
      #       --disable-avdevice \
      #       --disable-avfilter \
      #       --disable-debug \
      #       --enable-lto \
      #       --enable-asm \
      #       --enable-nasm \
      #       --enable-avcodec \
      #       --enable-shared \
      #       --enable-decoder="${{ env.DECODERS }}" \
      #       --enable-stripping \
      #       --enable-cross-compile \
      #       --prefix=$GITHUB_WORKSPACE/out

      # - name: Configure FFmpeg for Windows
      #   if: matrix.platform.name == 'win-x64'
      #   run: |
      #     ./configure \
      #       --arch=${{ matrix.platform.arch }} \
      #       --target-os=${{ matrix.platform.target-os }} \
      #       --cross-prefix=${{ matrix.platform.cross-prefix }} \
      #       --enable-cross-compile \
      #       --disable-debug \
      #       --enable-static \
      #       --disable-shared \
      #       --disable-doc \
      #       --disable-ffplay \
      #       --enable-gpl \
      #       --enable-libx264 \
      #       --prefix=$GITHUB_WORKSPACE/out \

      - name: Build FFmpeg
        shell: bash
        run: make -j$(nproc) V=1

      - name: Install FFmpeg
        shell: bash
        run: make install

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "native-${{ matrix.platform.name }}"
          path: "out/"